<h1>Edit your details</h1>

<% form_for(@user, :html => {:class => 'validate'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %>
    <%= @user.username %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :student_number %>
    <%= f.text_field :student_number %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h2>Profile image</h2>
 
<!-- not resizing the image because it depends on ImageMagick or similar server-side library! If it's available, then
paperclip can make use of it when configured so -->
<p><%= image_tag @user.avatar.url, :width=>"48" %></p>
 
<h3>Upload a new profile image</h3>
 
<% form_for @user, :url => user_path, :html => { :multipart => true } do |f| %>
   <%= f.file_field :avatar %>
<%= f.submit "Upload" %>
<% end %>

<%= link_to 'Destroy account', user_path, :method => :delete, :confirm => "Are you sure?" %>
