<h1><%= link_to @course.name, edit_course_path(@course) %></h1>
<p>
<%= @course.description %>
</p>

<% unless @course.course_instances.empty? %>
<h2>Course instances:</h2>
<p>
<% @course.course_instances.each do |course_instance| %>
    <%= link_to course_instance.name, course_course_instance_path(@course, course_instance) %>
    (<%= link_to 'edit', edit_course_course_instance_path(@course, course_instance) %>|<%= link_to 'destroy', course_course_instance_path(@course, course_instance), :confirm => 'Are you sure?', :method => :delete %>)<br />
<% end %>
</p>
<% end %>

<%= link_to 'Back to main page', courses_path %>

